.navbar{
    background-color: transparent;
    border-radius: 2px;
}

#lightcard{
    background-image: url("../Gambar/225946.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: gray;
}

body{
    background-image: url("../Background/39607.jpg");
    background-size: cover;
}

#img{
    padding-top: 20px;
    width: 425px;
    height: 425px;
}

#imge {
    height: 525px;
    width: 975px;
    margin: 0 auto;
}

#cards {
    border-color: gray;
}

.carousel{
    height: 525px;
    width: 975px;
    margin: auto;
    padding: 10px;
}

.carousel-inner{
    height: 525px;
    width: 975px;
    max-width: 200%;
    max-height: 200%;
    min-width: 50%;
    min-height: 50%;
}
