#navbar{
    background-image: url("../Gambar/225946.jpg");
    border-radius: 2px;
}

body{
    background-image: url("../Gambar/225946.jpg");
}
  
.center {
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mdlg{
    background-image: url(../Gambar/225946.jpg);
    width: 848px;
    height:419;
    margin-top: 0;
  margin-bottom: 0;
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 35%;
}
